/* hello*/


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: inherit; */
}
html,
body {
  width: 100%;
}

/* Navbar starts */

nav .logo-icon {
  /* border: 1px solid red; */
  background-color: rgba(17, 17, 17, 0.978);
  color: white;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 54px;
  padding-right: 54px;
  position: fixed;
  z-index: 4444;
  /* position: absolute; */
  /* top: 0px; */
}
nav .hamberger-icon i {
  /* border: 1px solid orange; */
  color: white;
  font-size: 20px;
  height: 42px;
  width: 42px;
  border-radius: 100%;
  padding-left: 12px;
  padding-top: 11px;
}
nav img {
  /* border: 1px solid red; */
  height: 24px;
  width: 52px;
}
nav .nav-flex1 {
  /* border: 1px solid blue; */
  width: 240px;
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
}
nav .nav-flex2 {
  /* border: 1px solid blue; */
  width: 360px;
  margin-left: 480px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
nav .nav-flex1 a,
nav .nav-flex2 a {
  color: white;
  text-decoration: none;
}
.nav-clr-green {
  color: #32c86e;
  cursor: pointer;
}

/* Navbar ends */

.fullcont {
  /* border: 1px solid red; */
  /* margin-top: 90px; */
  padding-top: 100px;
}
.fullcont img {
  width: 100%;
  height: 905px;
  position: absolute;
  bottom: 20px;
  z-index: -2;
}

.fa-bars {
  color: black;
  z-index: 7;
  padding: 11px;
  font-size: 20px;
}

.main {
  z-index: 8;
  color: white;
  margin-top: -50px;
}
.s1xh3 {
  font-size: 60px;
  margin-left: 50%;
  margin-bottom: 7px;
  font-family: "Gentona-SemiBold-Italic";
}
.s1h2 {
  margin-left: 45%;
  font-size: 1.6rem;
  margin-bottom: 13px;
}
.s1p {
  margin-left: 45%;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.twobtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order button {
  background-color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  /* position: relative;
  bottom: 60px; */
  margin-left: 120px;
  border: none;
}
.watch button {
  padding: 10px 20px;
  background: transparent;
  /* position: relative;
  bottom: 60px; */
  margin-left: 30px;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.main-certiate {
  display: flex;
  color: white;
  margin-left: 30%;
  margin-top: 18%;
  margin-left: 40%;
  text-align: center;
  align-items: center;
}
.seckm {
  margin-left: 60px;
}
.seckm p,
.thirdkm p,
.firstkm p {
  margin-top: 10px;
  color: rgba(245, 245, 245, 0.603);
}
.thirdkm {
  margin-left: 40px;
}

.first-green img {
  width: 600px;
  filter: opacity(30%);
  filter: brightness(110%);
  filter: contrast(110%);
  transition: all 0.5s 0.2s;
  overflow: hidden;
}

.img-hover:hover img {
  transform: scale(1.03);
}
.img-hover {
  /* border: 1px solid red; */
  width: 600px;
  margin-top: 10%;
  margin-left: 70px;
  overflow: hidden;
}
.greens1 {
  width: 600px;
  height: 620px;
  background: #dee181;
  filter: contrast(110%);
  margin-left: 70px;
  position: relative;
  bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.greens1 img {
  width: 260px;
  margin-bottom: 45px;
  position: relative;
  right: 23px;
  /* margin-top: 90px; */
  margin-left: 67px;
}
.blues {
  background: #1b5194;
}
.kilometerflex {
  display: flex;
  justify-content: space-evenly;
}
.kilometerflex h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #283400;
}

.kilometerflex p {
  font-size: 18px;
  font-weight: 700;
  color: #465c00;
}
hr {
  border: 1px solid #475c0069;
  width: 81%;
  margin-left: 53px;
  margin-bottom: 15px;
  /* height: 1px; */
}

.star h1::before {
  content: url("https://cdn.olaelectric.com/ev-discovery-platform/s1-x/green_star_icon.svg");
  /* border: 1px solid red; */
  position: relative;
  right: 10px;
}
.star1 h1::before {
  content: url("https://cdn.olaelectric.com/ev-discovery-platform/s1-x/light_blue_star_icon.svg");
  position: relative;
  right: 10px;
}
.firstinch {
  font-size: 24px;
  margin-left: 45px;
  padding: 13px;
  /* border: 1px solid red; */
  width: 54%;
  margin-bottom: 10px;
  color: #283400;
}

.orderflex {
  display: flex;
}
.introduction p {
  margin-left: 48px;
  color: #283400;
  font-size: 23px;
  margin-bottom: 10px;
}
.introduction h2 {
  margin-left: 48px;
  color: #283400;
  font-size: 40px;
}
.introduction span {
  font-size: 18px;
  color: #283400ab;
}
.ordernowbtn button {
  margin-top: 10px;
  margin-left: 25px;
  padding: 20px 57px;
  border-radius: 4px;
  background-color: rgba(40, 52, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Gentona-Medium";
  font-size: 18px;
  border: none;
  font-weight: bold;
}
.ordernowbtn1 button {
  margin-top: 10px;
  margin-left: 33px;
  padding: 18px 30px;
  font-size: 18px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
}
.fa-angle-right {
  margin-left: 7px;
  font-weight: bold;
}
.fa-arrow-right {
  margin-left: 7px;
  font-weight: bold;
}
.twobike {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  right: 35px;
  margin-bottom: 50px;
}

.mainwhite h1 {
  color: white;
}
.mainwhite p {
  color: white;
}
.fullgreen {
  width: 100%;
  height: 700px;
  /* border: 3px solid red; */
  overflow: hidden;
}
.fullgreen img {
  width: 100%;
  height: 100%;
}
.fullgreen {
  position: relative;
}
.allnewdesign {
  position: absolute;
  top: 40px;
  left: 92px;
  margin: 40px auto;
  color: white;
}
.allnewdesign h1 {
  font-size: 40px;
  line-height: 50px;
}
.fullsystem {
  display: flex;
  position: absolute;
  top: 200px;
  left: 20px;
  width: 100%;
  margin-top: 20px;
  border-radius: 30px;
  /* justify-content: space-evenly; */
}
.firstmeter {
  /* border: 1px solid red; */
  width: 21%;
  height: 400px;
  margin-left: 70px;
}
.firstmeter img {
  width: 100%;
  height: 100%;
}
.secondfull {
  /* border: 2px solid gold; */
  width: 38%;
  height: 400px;
  margin-left: 50px;
}
.secondfull h1 {
  position: relative;
  bottom: 131px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}
.secondfull p {
  position: relative;
  bottom: 131px;
  text-align: center;
  font-size: 20px;
  color: rgba(245, 245, 245, 0.792);
}
.secondfull img {
  width: 100%;
  height: 100%;
}
.thirdorange {
  /* border: 2px solid orangered; */
  width: 21%;
  margin-left: 70px;
  height: 400px;
}
.thirdorange img {
  width: 100%;
  height: 100%;
}
.icons2 {
  display: flex;
}

.lefticon,
.righticon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ffffff41;
  font-size: 35px;
  position: relative;
  bottom: 40px;
  left: 1200px;
  border: transparent;
}
.righticon {
  left: 1230px;
}
.fa-caret-left {
  margin-left: 10px;
}
.fa-caret-right {
  margin-left: 16px;
}

.threepre {
  border-bottom: 2px solid lightgray;
  /* margin-top: 20px; */
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 28px;
  margin-bottom: 40px;
  font-family: "Gentona-Bold-Italic" !important;
}
.threepre a {
  text-decoration: none;
  color: #62798a;
  font-weight: bold;
  font-family: "Gentona-Bold-Italic" !important;
}
.perf {
  color: #18334d;
  font-size: 45px;
  font-weight: bold;
  margin-left: 100px;
  margin-bottom: 40px;
}
.fullthreerace {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 14%;
}
.topspeed {
  width: 380px;
  height: 300px;
  /* border: 1px solid red; */
  border-radius: 9px;
}
.topspeed h2 {
  color: #18334d;
  font-weight: 400;
  font-size: 28px;
  font-family: "Gentona-SemiBold-Italic";
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.topspeed p {
  color: #70767e;
  font-weight: 400;
  line-height: 30px;

  font-size: 18px;
}
.topspeed img {
  width: 100%;
  height: 100%;
}

/* energy banner starts */

.main-energy-banner {
  /* border: 1px solid red; */
  /* background-color: #071425; */
  background-image: url("https://cdn.olaelectric.com/sites/evdp/common/tco_bg_web_image_140823.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-attachment: fixed; */
  height: 800px;
  display: flex;
  margin-bottom: 80px;
}
.main-energy-banner .main-energy-banner-content {
  /* border: 1px solid yellow; */
  margin-left: 80px;
  margin-top: 120px;
  margin-right: 40px;
  height: 500px;
}
.main-energy-banner .main-energy-banner-content h1 {
  color: #fff;
  font-family: "Gentona-Semibold";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: -1px;
  margin-bottom: 54px;
}
.main-energy-banner .main-energy-banner-content h4 {
  font-size: 20px;
  color: #ffffffcf;
  margin-bottom: 8px;
}
.main-energy-banner .main-energy-banner-content p {
  font-size: 18px;
  color: #ffffffa0;
  line-height: 24px;
  margin-bottom: 100px;
}
.main-energy-banner .main-energy-banner-content a {
  text-decoration: none;
  font-size: 20px;
}

.main-energy-banner .energy-img {
  /* border: 1px solid orange; */
  height: 514px;
  width: 738px;
  margin-top: 120px;
  margin-left: 100px;
}
.main-energy-banner .energy-img img {
  height: 100%;
  width: 100%;
}
.main-energy-banner .energy-img p {
  color: rgba(255, 255, 255, 0.496);
  margin-top: 24px;
  margin-left: 120px;
  font-size: 14px;
}

/* energy banner ends */

/* custom start */
.fullcustom {
  /* border: 1px solid red; */
  width: 100%;
  height: 560px;
  padding: 70px;
}
.maincutsom {
  /* border: 1px solid gold; */
  width: 250px;
  height: 87px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.customh1 {
  font-size: 40px;
  letter-spacing: 3;
  color: #18334d;
}
.glossy {
  /* border: 1px solid gold; */
  width: 328px;
  height: 70px;
  margin-left: 30px;
  margin-bottom: 40px;
}
.glossyp {
  font-size: 18px;
  line-height: 25px;
  color: #18334d;
}
.mid {
  /* border: 1px solid gold; */
  width: 130px;
  height: 40px;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.night {
  font-size: 26px;
  color: rgba(24, 51, 77, 1);
  text-align: left;
  font-family: "Gentona-Medium-Italic";
  font-style: italic;
  font-size: 24px;
}

.imageframe {
  /* border: 1px solid crimson; */
  width: 90%;
  height: 460px;
  margin-bottom: 60px;

  /* display: flex; */
}
.imageframe img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.first-content {
  display: flex;
  justify-content: space-between;
}
.colorcircle {
  margin-left: 20px;
  width: 404px;
  height: 100px;
  line-height: 70px;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.firstcolo {
  margin-left: 40px;
}
.greens {
  background-color: green;
  width: 53px;
  height: 50px;
  border-radius: 100%;
}
.firstleft {
  position: relative;
  bottom: 291px;
  left: 655px;
  background-color: #ffffffc2;
}
.secondright {
  position: relative;
  bottom: 295px;
  margin-left: 30px;
  background-color: #ffffffc2;
}
/* custom end */

/* introducion start */
.introducion {
  /* border: 1px solid red; */
  width: 100%;
  height: 1100px;
  background: #071425;
  padding: 96px 0 105px 0;
  margin-bottom: 40px;
}
.into {
  /* border: 1px solid red; */
  width: 29%;
  color: white;
  margin-left: 8%;
  margin-bottom: 20px;
}
.intoh1 {
  font-size: 44px;
}
.feeldiv {
  /* border: 1px solid red; */
  width: 18%;
  margin-left: 8%;
  margin-bottom: 40px;
  color: #62798a;
}
.feels {
  font-size: 16px;
}
.watchdiv {
  /* border: 1px solid green; */
  width: 18%;
  margin-left: 8%;
  margin-bottom: 30px;
}
.watchdiv a {
  color: #1cd89f;
}
.resignedcontain {
  /* border: 1px solid red; */
  width: 40%;
  height: 700px;
  margin-left: 7%;
}
.resignedcontain img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.reimage {
  /* border: 1px solid red; */
  width: 96%;
  height: 300px;
  margin-left: 4%;
  margin-bottom: 10px;
}
.reimage img {
  width: 100%;
  height: 100%;
}
.batterfirst {
  /* border: 1px solid red; */
  width: 100%;
  height: 388px;
  margin-left: 4%;
}
.batterfirst img {
  width: 100%;
  height: 100%;
}
.battersecond {
  /* border: 1px solid red; */
  width: 100%;
  height: 388px;
  margin-left: 2%;
}
.battersecond img {
  width: 100%;
  height: 100%;
}
.redignfullflex {
  display: flex;
}
.deignflex {
  display: flex;
}
/* introducion end */

/* fullfinacal start */

.fullfinacal {
  /* border: 1px solid red; */
  width: 100%;
  height: 650px;
  padding: 50px 90px 50px 10px;
}
.finacial {
  /* border: 1px solid crimson; */
  width: 25%;
  margin-left: 6%;
}
.finacalh2 {
  color: #18334d;
  font-weight: bold;
  font-size: 44px;
}
.fullemi {
  width: 25%;
  height: 450px;
  border-left: 1px solid rgba(211, 211, 211, 0.201);
  position: relative;
  left: 500px;
  padding: 20px;
}
.fullemi1 {
  width: 25%;
  height: 450px;
  border-left: 1px solid rgba(211, 211, 211, 0.336);
  margin-left: 32%;
}
.fullemiflex {
  display: flex;
  justify-content: space-evenly;
}
.fullemi h2 {
  color: #18334d;
  margin-bottom: 20px;
  line-height: 29px;
}
.fullemi p {
  color: #62798a;
  line-height: 25px;
  margin-bottom: 30px;
}
.spacebank {
  margin-left: 50px;
}
.spacebank1 {
  margin-top: 30px;
  margin-left: 50px;
}
.btn1 {
  margin-top: 40px;
  background: #0f2235;
  justify-content: center;
  font-size: 16px !important;
  padding: 20px 0;
  line-height: 16px;
  color: #fff;
  width: 100%;
}
.takeslow {
  /* border: 1px solid crimson; */
  width: 63%;
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
}
.takeslowh2 {
  color: #18334d;
  font-weight: bold;
  font-size: 23px;
  color: #18334d;
  margin-bottom: 20px;
  line-height: 29px;
}
.takeslow p {
  /* border: 1px solid red; */
  margin-top: 20px;
  width: 110%;
  color: #62798a;
  line-height: 25px;
  margin-bottom: 30px;
}
.totalpay {
  /* border: 1px solid red; */
  width: 300px;
  height: 200px;
  margin-top: 40%;
  margin-left: 20px;
}
.totalpay img {
  width: 100%;
  height: 100%;
}
/* fullfinacal end */

/* findcontainer start */
.findcontainer {
  border: 1px solid;
  width: 100%;
  height: 730px;
  background-color: #071425;
  margin-bottom: 80px;
}
.hyperh1 {
  /* border: 1px solid red; */
  width: 29%;
  margin-top: 62px;
  margin-left: 80px;
  color: white;
}
.hyperh1 h1 {
  font-size: 44px;
}
.bang {
  color: #1cd8d8;
}
.hyperh1 p {
  margin-top: 35px;
  /* letter-spacing: 1px; */
}
.seeour {
  color: #1cd8d8;
  font-size: 19px;
}
.olahypercontainer {
  display: flex;
  justify-content: space-evenly;
}
.fullolaframes {
  /* border: 1px solid red; */
  border: 1px solid #62798a;
  width: 400px;
  height: 330px;
  margin-top: 4%;
  border-radius: 15px;
  background-color: #62798a07;
}
.crackimg img {
  margin-top: 30px;
  margin-left: 5px;
}
.hyperfull {
  margin-left: 10px;
  color: white;
}
.hyperfull h1 {
  margin-top: -20px;
  margin-bottom: 16px;
}
.hyperfull p {
  color: #70767e;
  line-height: 25px;
  width: 85%;
}

/* findcontainer end */

/* olapp start */
.olaapp {
  /* border: 1px solid red; */
  width: 23%;
  margin-top: 6%;
  margin-left: 10%;
}
.olaapp h1 {
  color: #274962;
  margin-bottom: 20px;
  font-size: 44px;
}
.olaapp p {
  color: #62798a;
  margin-bottom: 40px;
}
.promity {
  border-right: 1px solid #62798a2d;
  width: 250px;
  height: 180px;
  margin-top: 50px;
  margin-left: 10%;
  /* border: 1px solid red; */
}
.promity img {
  margin-bottom: 16px;
}
.promity h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #274962;
}
.promity p {
  font-size: 18px;
  line-height: 30px;
  color: #62798a;
}
.profileflex {
  display: flex;
}
.montion {
  position: relative;
  right: 120px;
  border: none;
  /* border: 1px solid red; */
}
.montion p {
  width: 120%;
  font-size: 17px;
}
.phoneolas {
  /* border: 1px solid red; */
  width: 50%;
  height: 600px;
  position: relative;
  bottom: 398px;
  float: right;
}
.phoneolas img {
  width: 100%;
  height: 100%;
}
.fullolaphone {
  width: 100%;
  height: 655px;
}
/* olapp end */

/* youeye start */
.lightframe {
  /* border: 1px solid red; */
  width: 100%;
  height: 770px;
  position: relative;
  bottom: 95px;
  background-color: #62798a14;
  padding: 40px;
}
.eyeroad {
  /* border: 2px solid red; */
  width: 30%;
  margin-top: 3%;
  margin-left: 6%;
  margin-bottom: 40px;
}
.eyeroad h1 {
  font-size: 44px;
  color: #274962;
  margin-bottom: 20px;
}
.eyeroad p {
  color: #62798a;
  font-size: 18px;
  line-height: 26px;
}
.firstbasebalack {
  /* border: 1px solid green; */
  width: 400px;
  height: 280px;
}
.firstbasebalack img {
  width: 100%;
  height: 100%;
}
.firstblack {
  /* border: 2px solid red; */
  width: 400px;
  height: 400px;
}
.firstblack h1 {
  font-size: 26px;
  color: #274962;
  margin-bottom: 15px;
  margin-top: 20px;
}
.firstblack p {
  color: #62798a;
  margin-bottom: 15px;
}
.firstblack a {
  text-decoration: none;
  color: #16aa51;
  font-size: 19px;
  font-weight: bold;
}
.carolaflex {
  display: flex;
  justify-content: space-between;
  margin-left: 6%;
}
.firaspace {
  margin-left: 40px;
}
/* youeye end */

/* helpmeaccess start */
.helpmeaccess {
  /* border: 1px solid red; */
  width: 17%;
  margin-top: 3%;
  /* margin-left: 7%; */
  margin-bottom: 20px;
}
.helpmeaccess h1 {
  font-size: 44px;
  color: #071425;
  margin-bottom: 20px;
}
.helpmeaccess p {
  color: #62798a;
  font-size: 17px;
}
.fullbasebue {
  /* border: 1px solid blue; */
  width: 17%;
  height: 300px;
}
.blueola {
  /* border: 1px solid green; */
  width: 257px;
  height: 250px;
}
.blueola img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.blueola p {
  font-size: 24px;
  font-weight: 50;
  color: #62798a;
}
.OLALOG {
  font-weight: bold;
  color: #071425;
}
.fa-sort-desc {
  color: #071425;
}
.helpmeflex {
  display: flex;
  justify-content: space-evenly;
}
.lightboder1 {
  width: 84%;
  background-color: rgba(211, 211, 211, 0.068);
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 110px;
  align-items: center;
  padding: 30px;
}

.firstprice h3 {
  font-size: 25px;
  color: #6b6b6c;
  font-weight: 70;
}

.emistart h1 {
  font-size: 26px;
  color: #071425;
  margin-bottom: 10px;
}
.normalcolor {
  background-color: white;
}

.movespace {
  position: relative;
  right: 70px;
}
.movespace1 {
  position: relative;
  right: 60px;
}
.movespace2 {
  position: relative;
  right: 30px;
}
.movespace3 {
  position: relative;
  right: 120px;
}
.movespace4 {
  position: relative;
  right: 80px;
}
.movespace5 {
  position: relative;
  right: 120px;
}
.movespace6 {
  position: relative;
  right: 110px;
}
.movespace7 {
  position: relative;
  right: 75px;
}
.movespace8 {
  position: relative;
  right: 100px;
}
.movespace9 {
  position: relative;
  right: 70px;
}
.flecbtn {
  display: flex;
}
.viewbtm {
  position: relative;
  top: 50px;
  left: 720px;
  background: #181d22;
  font-size: 16px;
  line-height: 16px;
  padding: 20px 0;
  margin-left: 16px;
  width: 211px;
  color: white;
}
.pricementioned {
  /* border: 1px solid red; */
  margin-top: 40px;
  margin-left: 9%;
  width: 25%;
}
.pricementioned p {
  font-size: 17px;
  line-height: 26px;
  color: #62798a7d;
}
/* helpmeaccess end */

/* our commuity start */

.fullblue {
  /* border: 1px solid red; */
  margin-top: 40px;
  width: 100%;
  height: 680px;
  background: #121027;
  padding: 30px;
  /* z-index: -5; */
}
.ourcommunity {
  /* border: 1px solid green; */
  width: 34%;
  margin-top: 4%;
  margin-left: 6%;
  color: white;
}
.ourcommunity h1 {
  margin-bottom: 40px;
  font-size: 44px;
}
.ourcommunity p {
  color: rgba(255, 255, 255, 0.562);
  margin-bottom: 40px;
}
.fullvideo {
  /* border: 1px solid crimson; */
  width: 26%;
  height: 360px;
}
.video1 {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  /* background: #16aa51; */
  margin: auto;
  margin-top: 9%;
}
.video1 img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  z-index: 44;
}
.played {
  background: #62798a;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  position: relative;
  z-index: 44;
  left: 47px;
  bottom: 87px;
}
.fa-play {
  position: relative;
  top: 9px;
  left: 13px;
  z-index: 44;
  color: white;
  font-size: 20px;
}
.firstframes {
  border: 1px solid #d1d9ff33;
  color: white;
  height: 250px;
  padding: 20px;
  background: linear-gradient(
    116.05deg,
    rgba(13, 11, 12, 0.0416) 21.5%,
    rgba(255, 255, 255, 0.0416) 45.33%,
    rgba(27, 21, 25, 0.112) 92.98%
  );
  border-radius: 14px;
  position: relative;
  bottom: 50px;
}
.firstframes h1 {
  font-size: 26px;
  line-height: 40px;
  margin-top: 56px;
  margin-left: 23px;
  margin-bottom: 30px;
  text-align: center;
}
.firstframes p {
  /* margin-top: 20px; */
  text-align: center;
  color: #d1d9ff;
}
.firstsoan {
  margin-left: 22px;
  font-size: 26px;
}

.threevideoflex {
  display: flex;
  justify-content: space-evenly;
}
/* our commuity :end */

/* bein charge start  */
.chargeblue {
  width: 100%;
  height: 660px;
  background-color: #62798a14;
  padding: 40px;
}
.bechargeh1 {
  /* border: 1px solid red; */
  width: 59%;
  margin-bottom: 40px;
  margin-left: 50px;
  /* height: 100px; */
}
.firstfullcharge {
  margin-top: 40px;
}
.bechargeh1 h1 {
  font-size: 44px;
  margin-bottom: 20px;
  color: #18334d;
}
.bechargeh1 p,
.duration p,
.Power p,
.portable p,
.askedquention p,
.something p {
  font-size: 18px;
  color: #62798a;
  line-height: 30px;
}

.duration {
  /* border: 1px solid green; */
  width: 42%;
  margin-bottom: 40px;
  margin-left: 50px;
}
.duration h1,
.Power h1,
.portable h1 {
  font-size: 23px;
  color: #18334d;
  margin-bottom: 10px;
  font-weight: bold;
}
.Power {
  /* border: 1px solid orangered; */
  width: 16%;
  margin-bottom: 40px;
  margin-left: 50px;
}
.chrgaes {
  color: #16aa51;
  font-size: 18px;
  font-weight: bold;
  margin-left: 50px;
}
.batteryola {
  /* border: 1px solid red; */
  width: 300px;
  height: 400px;
  margin-bottom: 10px;
}
.batteryola img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.chargingpoint {
  /* border: 2px solid coral; */
  width: 300px;
  height: 520px;
}

.chargingflex {
  display: flex;
  margin-top: 40px;
}
.borderbackimg {
  display: flex;
}
.movements {
  position: relative;
  right: 40px;
}
/* bein charge end  */

/* frquent start */
.frquent {
  /* border: 1px solid red; */
  width: 100%;
  height: 600px;
  padding: 40px;
}
.askedquention {
  /* border: 1px solid crimson; */
  width: 71%;
  margin-bottom: 50px;
  margin-left: 45px;
}
.askedquention h1,
.something h1 {
  font-size: 44px;
  font-weight: bold;
  color: #18334d;
  margin-bottom: 20px;
}
.something {
  /* border: 1px solid red; */
  width: 57%;
  margin-bottom: 50px;
  margin-left: 45px;
}
.something h1 {
  font-size: 24px;
}
.request {
  background: #0f2235;
  font-size: 16px;
  line-height: 16px;
  padding: 19px 10px;
  margin-left: 16px;
  width: 211px;
  color: white;
  margin-left: 45px;
}
summary {
  font-size: 22px;
  color: #18334d;
  font-weight: 600;
}
summary::marker {
  color: red;
}
.s1range {
  margin-top: 10px;
  font-size: 17px;
  margin-top: 30px;
  color: #62798a;
  /* width: 40%; */
}
.detailshr {
  margin-top: 40px;
  width: 72%;
  position: relative;
  right: 20px;
  border-top: 1px solid #62798a0f;
}
.summaryes {
  display: flex;
}
.holesummary {
  /* border: 1px solid brown; */
  margin-top: 40px;
  width: 650px;
  position: relative;
  left: 180px;
}
.chrgaes1 {
  color: #16aa51;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 30px;
  /* float: right; */
  left: 779px;
}

/* frquent end */
/* footer starts */

footer {
  /* border: 1px solid red; */
  background-color: #0a1320;
  color: #d6e1ea;
  height: 210px;
  display: flex;
  position: relative;
  margin-top: 50px;
}
footer img {
  height: 23px;
  width: 61px;
  margin-top: 34px;
  margin-left: 60px;
}
footer .footer-flex-1 {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  margin-left: 100px;
}
footer .footer-flex-1 a {
  text-decoration: none;
  color: #d6e1ea;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .footer-icons {
  /* border: 1px solid red; */
  height: 40px;
  position: absolute;
  right: 40px;
  top: 34px;
}
footer .footer-icons a {
  text-decoration: none;
  color: #d6e1ea;
  font-size: 18px;
  margin-right: 24px;
}
footer p {
  border: 1px solid #98fcc0;
  color: #98fcc0;
  font-size: 11px;
  font-style: italic;
  padding: 2px 8px;
  height: 20px;
  background: linear-gradient(83.64deg, #11703e 6.31%, #0c3b32 98.86%);
  position: relative;
  top: 70px;
  right: 8px;
}

/* footer ends */
